.root {
    -fx-background-color: #1b1f23;
    -fx-focus-color: transparent;
}

@font-face {
    font-family: "Open-Sans";
    src: url('OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Work-Sans';
    src: url('WorkSans-VariableFont_wght.ttf');
}

.tab {
    -fx-font-family: 'Work-Sans';
    -fx-font-size: 15px;
}

.split-pane-divider {
    -fx-background-color: #2b2f33;
    -fx-pref-width: 3px;

}

#btnGen {
    -fx-background-color: #fff;
    -fx-text-fill: #1b1f23;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-font-family: 'Work-Sans';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

#btnGen:hover {
    -fx-background-color: #75ae4c;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#body{
    -fx-padding: 10px;
    -fx-background-color: #1b1f23;
}

#splitPane {
    -fx-background-color: #1b1f23;
}

.contentView {
    -fx-background-color: #1b1f23;
}

.text-area {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-font-family: "Open-Sans";
    -fx-text-fill: #bbbcbe;
    -fx-control-inner-background: #262a2d;
    -fx-highlight-fill: rgba(136, 198, 94, 0.69);

}